* {
  box-sizing: border-box;
}

body {
  background-color: grey;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .row {
    display: flex;
    .cell {
      width: 20px;
      height: 20px;
      background-color: lightgray;
      border: 1px solid;
      &.selected {
        background-color: aqua;
      }
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  .button {
    padding: 30px;
    margin: 0 30px;
  }
}
